<%= render 'shared/errors', obj: @user %>

<div class="row">
  <%= form_for @user do |u| %>
    <%= u.label :username %>
    <%= u.text_field :username %>

    <%= u.label :password %>
    <%= u.password_field :password %>

    <%= u.label :email %>
    <%= u.text_field :email %>

    <%= u.submit(@user.new_record? ? 'Register' : 'Edit account', class: "btn btn-success btn-small") %>
  <% end %>

  <%=	link_to "Back", conferences_path, class: "btn btn-lrg btn-success", id: "logo" %>
</div>

