<%= render 'shared/errors', obj: @conference  %>

<div class="row">
  <%= form_for @conference do |c| %>
    <%= c.label :name %>
    <%= c.text_field :name %>

    <%= c.label :date %>
    <%= c.date_field :date %>

    <%= c.label :summary %>
    <%= c.text_area :summary %>

    <%= c.label :description %>
    <%= c.text_area :description %>

    <%= c.label :url %>
    <%= c.url_field :url %>

    <%= c.submit(@conference.new_record? ? 'Create' : 'Edit', class: "btn btn-success btn-small") %>
  <% end %>

  <%=	link_to "Back", conferences_path, class: "btn btn-lrg btn-success", id: "logo" %>
</div>

