<h1> Edit <%= @conference.name %> </h1>

<% if @conference.errors.any? %>
  <div class="row">
    <div class="alert alert-danger col-md-4 col-md-offset-4">
      <h5> Please correct errors:</h5>
      <ul>
        <% @conference.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>

<div class="row">
  <%= form_for @conference do |c| %>
    <%= c.label :name %>
    <%= c.text_field :name %>

    <%= c.label :date %>
    <%= c.date_field :date %>

    <%= c.label :summary %>
    <%= c.text_area :summary %>

    <%= c.label :description %>
    <%= c.text_area :description %>

    <%= c.label :url %>
    <%= c.url_field :url %>

    <%= c.submit "Save", class: "btn btn-success btn-small" %>
  <% end %>

  <%=	link_to "Back", conference_path, class: "btn btn-lrg btn-success", id: "logo" %>
</div>

