<h1><%= @conference.name %> </h1>

<% if logged_in? and @conference.user == current_user then %>
  <%= link_to 'Edit', edit_conference_path(@conference), class: 'btn btn-success' %>
<% end %>

<h4>Description</h4>
<%= simple_format(@conference.description) %>

<h4>Date</h4>
<%= @conference.date %>

<h4>Website</h4>
<%= link_to @conference.url, @conference.url, target: '_blank '%>
<h3><%= link_to 'Return', conferences_path, class: "btn btn-primary btn-small" %></h3>
