<header class="navbar navbar-fixed-top navbar-default">
	<div class="container">
		<%=	link_to "Home", root_path, class: "btn btn-lrg btn-success", id: "logo" %>
    <%=	link_to "Conferences", conferences_path, class: "btn btn-lrg btn-success", id: "logo" %>

    <% if logged_in? %>
      <%=	link_to "New Conference", new_conference_path, class: "btn btn-lrg btn-success", id: "logo" %>
      <ul class="nav-item">
        <li class="dropdown">
          <%= link_to '#', class: "btn btn-default btn-success dropdown-toggle", "data-toggle" => "dropdown" do %>
           <b class="caret"></b> 
          <% end %>

           <ul class="dropdown-menu dropdown-menu-right">
             <li><%= link_to "My Account", edit_user_path(current_user) %></li>
             <li class="divider"></li>
             <li><%= link_to "Logout", logout_path %></li>
          </ul>

        </li>
      </ul>
    <% else %>
		  <%= link_to "Login", login_path, class: "btn btn-lrg btn-success" %>
		  <%= link_to "Sign up", register_path, class: "btn btn-lrg btn-success" %>
    <% end %>

	</div>
</header>
